@use "./variables" as *;
@use "./mixin" as *;

/*--------------------------------------- MOBILE ------------------------------------------------*/

@media screen and (max-width: 520px) {

    /*--------------------- HEADER (MOBILE) ---------------------*/

    .header {
        @include flexCenter;
        flex-direction: column;
        align-items: flex-start;
        @include newComp;

        &__intro {
            font-size: 23px;
            font-weight: 500;
            color: $fourth-color;
            margin: 70px 10% 0 10%;
        }

        &__intro2 {
            font-size: 50px;
            margin: 0 10% 0 10%;
        }
        
        &__button-projects {
            font-size: 18px;
            font-weight: bolder;
            margin: 10% 10% 70px 10%;
            padding: 5% 10%;
            align-self: center;
            border: 2px solid $secondary-color;
            border-radius: 10px;
            background-color: $primary-color;
            box-shadow: 5px 5px;
            text-decoration: none;
            text-align: center;
        }
    }

    /*-------------------- ABOUT ME (MOBILE) ---------------------*/

    .about-me {
        @include newComp;

        &__container {
            @include flexCenter;
            flex-direction: column;

            &__title {
                padding: 40px;
                font-size: 30px;
            }
    
            &__image {
                width: 80%;
                padding-bottom: 40px;
    
            }
    
            &__info {
                font-size: 18px;
                padding: 0 5% 20px 5%;
            }
        }

        &__container2 {
            display: none;
        }
    }

    /*--------------- TECHNICAL SKILLS (MOBILE) -------------------*/

    .skills {
        @include flexCenter;
        flex-direction: column;
        @include newComp;

        &__title {
            padding: 40px;
            font-size: 30px;
        }

        &__info {
            display: none;
        }

        .skills-container {
            
            width: 85%;
            padding-bottom: 40px;

            .icons  {
                @include flexCenter;
                font-size: 30px;
                color: $secondary-color;
                height: 30px;
            }
            .svg-icon {
                @include flexCenter;   
                flex-direction: column;
                fill: $secondary-color;
            }

            .icons-name {
                @include flexCenter;
                font-size: 15px;
                color: $secondary-color; 
                padding-top: 10px;
            }

            display: grid; 
            grid-template-columns: 1fr 1fr 1fr; 
            grid-template-rows: 1fr 1fr 1fr 1fr; 
            gap: 50px 10px; 
            grid-template-areas: 
            "github-icon html-icon css-icon"
            "js-icon scss-icon bem-icon"
            "react-icon java-icon springboot-icon"
            "python-icon swift-icon sql-icon";
        }
    }

    /*----------------------- MY PROJECTS (MOBILE) ---------------------------*/

    .my-projects {
        @include flexCenter;
        flex-direction: column;
        @include newComp;

        &__title {
            padding: 40px;
            font-size: 30px;
        }

        #project4, #project5, #project6 {
            display: none;
        }

        /*------- PROJECTS CARDS (MOBILE) -------*/

        .project {
            font-size: 18px;
            padding: 0 5% 20px 5%;
            @include flexCenter;
            flex-direction: column;

            &__image {
                width: 97%;  
            }

            &__skills {
                align-self: flex-start;
                padding: 10px;
                text-decoration: none;
                color: $primary-color;
            }

            &__title {
                align-self: flex-start;
                font-size: 30px;
                padding: 0 0 10px 10px;
            }

            &__info {
                padding: 0 0 10px 10px;
            }

            &__code-preview {
                align-self: flex-start;
                padding: 0 0 10px 10px;
                width: 60%;
                @include flexPush;
                
                &__links {
                    text-decoration: none;
                    font-weight: 600;
                }
            }
        }
    }
}

/*--------------------------------------- TABLET ------------------------------------------------*/

@media screen and (min-width: 521px) {

    /*--------------------- HEADER (TABLET) ---------------------*/

    .header {
        @include flexCenter;
        flex-direction: column;
        align-items: center;
        @include newTabletComp;

        &__intro {
            font-size: 25px;
            font-weight: 500;
            color: $fourth-color;
            margin: 100px 10% 30px 10%;
        }

        &__intro2 {
            font-size: 4em;
            margin: 0 10% 0 10%;
            text-align: center;
        }
        
        &__button-projects {
            font-size: 25px;
            font-weight: bolder;
            margin: 5% 10% 100px 10%;
            padding: 20px 30px;
            align-self: center;
            border: 2px solid $secondary-color;
            border-radius: 10px;
            background-color: $primary-color;
            box-shadow: 5px 5px;
            text-decoration: none;
        }
    }

    /*-------------------- ABOUT ME (TABLET) ---------------------*/

    .about-me {
        @include newTabletComp;
        @include flexPush;

        &__container {
            display: flex;
            flex-direction: column;
            width: 50%;
            &__title {
                text-align: center;
                padding: 40px;
                font-size: 30px;
            }
    
            &__image {
                display: none;
            }
    
            &__info {
                font-size: 18px;
                padding: 0 5% 20px 5%;
                
            }
        }

        &__container2 {
            width: 50%;

            &__image {
                width: 100%;
                padding: 40px 40px 40px 10px;
            }
        }
    }

    /*--------------- TECHNICAL SKILLS (TABLET) -------------------*/

    .skills {
        @include flexCenter;
        flex-direction: column;
        @include newTabletComp;

        &__title {
            padding: 40px;
            font-size: 30px;
        }

        &__info {
            width: 90%;
            font-size: 18px;
            padding: 0 5% 60px 5%;
            text-align: center;

        }

        .skills-container {
            @include flexCenter;
            //text-align: center;
            width: 85%;
            padding-bottom: 40px;
            flex-wrap: wrap;

            .icons  {
                @include flexCenter;
                font-size: 30px;
                color: $secondary-color;
                height: 30px;
            }
            .svg-icon {
                @include flexCenter;   
                flex-direction: column;
                fill: $secondary-color;
            }

            .icons-name {
                @include flexCenter;
                font-size: 15px;
                color: $secondary-color; 
                padding: 10px 20px;
            }
        }
    }

    /*----------------------- MY PROJECTS (TABLET) ---------------------------*/

    .my-projects {
        @include flexCenter;
        flex-direction: column;
        @include newTabletComp;

        &__title {
            padding: 40px;
            font-size: 30px;
        }

        /*------- PROJECTS CARDS (TABLET) -------*/
        
        &__container {
            width: 97%;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            gap: 10px 10px;
            grid-auto-flow: row;
            grid-template-areas:
            "project1 project2 project3"
            "prject4 project5 project6";

            .project {
                font-size: 18px;
                padding: 0 5% 20px 5%;
            
                &__image {
                    width: 100%;  
                }

                &__skills {
                    align-self: flex-start;
                    text-align: center;
                    padding: 10px;
                    text-decoration: none;
                    color: $primary-color;
                }

                &__title {
                    align-self: flex-start;
                    font-size: 30px;
                    padding: 0 0 10px 10px;
                }

                &__info {
                    padding: 0 0 10px 10px;
                }

                &__code-preview {
                    align-self: flex-start;
                    padding: 0 0 10px 10px;
                    width: 60%;
                    @include flexPush;
                    
                    &__links {
                        text-decoration: none;
                        font-weight: 600;
                    }
                }
            }
        }
    }
}

