@use "./variables" as *;

/*---------------- FLEXBOX ----------------- */

@mixin flexCenter() {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flexPush() {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin newComp() {
    width: 85%;
    background-color: $third-color;
    margin: 10px 0;
}

@mixin newTabletComp() {
    width: 85%;
    background-color: $third-color;
    margin: 20px 0;
    max-width: 1200px;
}