
/*--------------- FONTS --------------- */

//$font-family-1: ;
//$font-family-2: ;

/*--------------- COLORS --------------- */

$primary-color: #91BAD6;
$secondary-color: #183153;
$white-color: white;
$black-color: black;



