/*--------------- FONTS --------------- */
/*--------------- COLORS --------------- */
/*---------------- FLEXBOX ----------------- */
/*--------------- NAVIGATION -----------------*/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  font-size: 25px;
}
nav .name-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .name-icon h1 {
  padding: 0 0 0 15px;
}
nav .name-icon .fa-code {
  color: #50e2e4;
}

* {
  margin: 0;
  padding: 0%;
  color: #272643;
}

/*--------------------- HEADER ---------------------*/
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
  width: 85%;
  background-color: #F8FAFA;
  margin: 10px 0;
}
.header__intro {
  font-size: 23px;
  font-weight: 500;
  color: #8C9DB1;
  margin: 70px 10% 0 10%;
}
.header__intro2 {
  font-size: 50px;
  margin: 0 10% 0 10%;
}
.header__button-projects {
  font-size: 18px;
  font-weight: bolder;
  margin: 10% 10% 70px 10%;
  padding: 5% 10%;
  align-self: center;
  border: 2px solid #272643;
  border-radius: 8px;
  background-color: #50e2e4;
  box-shadow: 5px 5px;
  text-decoration: none;
}

/*-------------------- ABOUT ME ---------------------*/
.about-me {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 85%;
  background-color: #F8FAFA;
  margin: 10px 0;
}
.about-me__title {
  padding: 40px;
  font-size: 30px;
}
.about-me__image {
  width: 300px;
  padding-bottom: 40px;
}
.about-me__info {
  font-size: 18px;
  padding: 0 5% 20px 5%;
}

/*--------------- TECHNICAL SKILLS -------------------*/
.skills {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 85%;
  background-color: #F8FAFA;
  margin: 10px 0;
}
.skills__title {
  padding: 40px;
  font-size: 30px;
}
.skills .skills-container {
  width: 85%;
  padding-bottom: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 50px 10px;
  grid-template-areas: "github-icon html-icon css-icon" "js-icon scss-icon bem-icon" "react-icon java-icon springboot-icon" "python-icon swift-icon sql-icon";
}
.skills .skills-container .icons {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: #272643;
  height: 30px;
}
.skills .skills-container .svg-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  fill: #272643;
}
.skills .skills-container .icons-name {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  color: #272643;
  padding-top: 10px;
}

/*----------------------- MY PROJECTS ---------------------------*/
.my-projects {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 85%;
  background-color: #F8FAFA;
  margin: 10px 0;
  /*-------- PROJECTS --------*/
}
.my-projects__title {
  padding: 40px;
  font-size: 30px;
}
.my-projects #project4, .my-projects #project5, .my-projects #project6 {
  display: none;
}
.my-projects .project {
  font-size: 18px;
  padding: 0 5% 20px 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.my-projects .project__image {
  width: 97%;
}
.my-projects .project__skills {
  align-self: flex-start;
  padding: 10px;
  text-decoration: none;
  color: #50e2e4;
}
.my-projects .project__title {
  align-self: flex-start;
  font-size: 30px;
  padding: 0 0 10px 10px;
}
.my-projects .project__info {
  padding: 0 0 10px 10px;
}
.my-projects .project__code-preview {
  align-self: flex-start;
  padding: 0 0 10px 10px;
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*--------------- MAIN (CONTAINER) ---------------*/
main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px 0 10px 0;
}/*# sourceMappingURL=styles.css.map */